// Mixins

// Link o the variables partial file.
@use "../abstracts/variables" as *;

// To set the elements within an container/element to be centered.
@mixin centerSelf {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerSelfColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// To set a standardised border around an element.
@mixin setBorder {
    border: solid $size-border-thickness $color-secondary;
    border-radius: $size-border-radius;
}

@mixin clickChanges {
    :hover{
        background-color: $color-light-op;
    }
    
}