// Styling the clear icon within work area.

// Link to the variables.
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Setting the style of the clear icon.
.clear {
    

    display: flex;
    justify-content: space-evenly;

    // Setting the height and padding if the button.
    height: 5vh;
    width: $size-width-area;
    

    &__clear, &__clear-all {
        // Using mixins to centre the content within the icon and set the standard border.
        @include setBorder();
        @include centerSelf();

        // Setting the background colour specific to working area elements.
        background-color: $color-workarea;

        padding: $size-padding-standard;
    }
}