// Styling the results component within the work area.

// Link to the variables.
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Setting the style of the results area.
.workarea__results {
    // Using a mixin to set the standard border used throughout the calculator.
    @include setBorder();
    
    // Setting the height, width and margin.
    height: 20vh;
    width: 100%;
    margin: $size-margin-standard 0;

    // Setting the background colour specific to working area elements.
    background-color: $color-workarea;
}