// Setting the body layout of the page

// Link to the variables
@use "../abstracts/variables" as *;


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $font-primary;
    background-color: $color-background;
    color: $color-font;
}