// Setting the style of the numbers area.

// Link to the variable and mixin partial files.
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.numbers {
    // Setting height and width of the numbers area.
    width: $size-width-area;
    height: 40vh;
    margin: $size-margin-standard;

    // Setting the grid display style of the number icons.
    display: grid;
    grid-template: repeat(4,1fr) / repeat(3, 1fr);
}