// Setting the style of the operator area.

// Link to the variable and mixin partial files.
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.operators {
    // Setting the height, width and margin.
    height: 10vh;
    width: $size-width-area;
    margin: 0;

    // Setting the grid display style of the operator icons.
    display: grid;
    grid-template: repeat(1,1fr) / repeat(5, 1fr);
}