// Styling the work area.

// Link to the variables.
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.workarea {
    @include setBorder();
    @include centerSelf();
    
    // Setting the working area's height, width and margin.
    height: 25vh;
    width: $size-width-area;
    margin: $size-margin-standard;

    // Setting the elements within the working area to be centred in the middle of the container.


    color: $color-font-secondary;
    background-color: $color-workarea;

}

.buttons {
    width: 100%;
    @include centerSelfColumn();

}