//Styling the work area

// Link to the variables
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.workarea {
    height: 25vh;
    width: $size-width-area;
    margin: $size-margin-standard;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &__results {
        height: 20vh;
        width: 100%;
        margin: $size-margin-standard 0;

        @include setBorder();
    }

    &__clear {
        @include centerSelf();
        @include setBorder();

        height: 5vh;
        padding: $size-margin-standard ;
        
        background-color: $color-workarea;
    }
}